
@{
    ViewBag.Title = "Formlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<CENTER><h2><b>10002 MÜŞTERİ ŞİKAYETLERİ VERİ DOSYASI</b></h2></CENTER>

<nav aria-label="breadcrumb">
    @*class="breadcrumb d-flex justify-content-between"*@
    <ol class="breadcrumb breadcrumb float-sm-right">
        <li class="breadcrumb-item active" aria-current="page">MÜŞTERİ ŞİKAYETLERİ</li>
        <li class="breadcrumb-item active" aria-current="page">FORMLAR(TR/ENG)</li>
        <li class="breadcrumb-item active" aria-current="page">10002 MÜŞTERİ ŞİKAYETLERİ VERİ DOSYASI</li>
        <li class="breadcrumb-item active" aria-current="page">BOŞ FORMLAR</li>

    </ol>
</nav>

<br />
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">

            <div class="card card-dark card-outline">
                <div class="card-body">
                    <br />     <br />
                    @*<h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                    <center>  <a type="button" class="btn btn-danger" href="~/Excel/F_142_01 MÜŞTERİ ŞİKAYET- REKLAMASYON BİLGİ FORMU.xlsx">F_142_01 MÜŞTERİ ŞİKAYET- REKLAMASYON BİLGİ FORMU(EXCEL)</a></center><br /><br />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card card-dark card-outline">
                <div class="card-body">
                    <br />     <br />
                    @*<h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                    <center><a type="button" class="btn btn-danger" href="~/Excel/F_142_01 MÜŞTERİ ŞİKAYET- REKLEMASYON BİLGİ FORMU ing.xlsx">F_142_01 MÜŞTERİ ŞİKAYET- REKLEMASYON BİLGİ FORMU (ENG_EXCEL)</a></center><br /><br />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card card-dark card-outline">
                <div class="card-body">
                    <br />     <br />
                    @*<h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                    <center> <a type="button" class="btn btn-danger" href="~/Excel/F_142_05 MÜŞTERİ ŞİKAYET-REKLAMASYON RAPOR FORMU.docx">F_142_05 MÜŞTERİ ŞİKAYET-REKLAMASYON RAPOR FORMU(WORD)</a></center><br /><br />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card card-dark card-outline">
                <div class="card-body">
                    <br />     <br />
                    @*<h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                    <center> <a type="button" class="btn btn-danger" href="~/Excel/F_142_05 MÜŞTERİ ŞİKAYET-REKLAMASYON RAPOR FORMU ing.docx">F_142_05 MÜŞTERİ ŞİKAYET-REKLAMASYON RAPOR FORMU (ENG_WORD)</a></center><br /><br />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-dark card-outline">
                <div class="card-body">
                    <br />
                    @*<h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                    <center><a type="button" class="btn btn-danger" href="~/Excel/F_142_06 MÜŞTERİ ŞİKAYET-REKLAMASYON MUTABAKAT FORMU.xlsx">F_142_06 MÜŞTERİ ŞİKAYET-REKLAMASYON MUTABAKAT FORMU(EXCEL)</a></center>
                    <br />
                </div>
            </div>
        </div>
    </div>

</div>