<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<div class="container-fluid">
    <div class="row">
     
         
                <div class="col-sm-6">

                    <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    GENEL RAPORLAR
  </a>
  <a href="/MusteriSikayeti/MusteriSikayetiAnalizMusteri" class="list-group-item list-group-item-action">MÜŞTERİYE GÖRE ŞİKAYETLER</a>
  <a href="/MusteriSikayeti/MusteriSikayetiAnalizSikayet" class="list-group-item list-group-item-action">ŞİKAYETLERE GÖRE MÜŞTERİLER</a>
  <a href="/MusteriSikayeti/MusteriSikayetiAnalizParti" class="list-group-item list-group-item-action">PARTİ NUMARASINA GÖRE ŞİKAYETLER</a>
  @*<a href="/MusteriSikayeti/MusteriSikayetiAnalizParti" class="list-group-item list-group-item-action">ŞİKAYETLERE GÖRE PARTİLER</a>*@
 
</div>
                </div>
                <div class="col-sm-6">
                    <div class="card card-dark card-outline">

                        <a class="btn btn-primary" href="/MusteriSikayeti/YillaraGöreAnaliz" role="button">YILLARA GÖRE RAPORLAR</a>


                    </div>
                </div>
                </div>
     
   
</div>
